# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build
# in this boilerplate, /build content will be updated with command `./dev npm-build`.  Then the content will be uploaded to origin & then cloned to production host. If it's not, then in production, for some reason(maybe nginx user?), the folder is created with owner root(when the bind mount is created). This cause a permissions problem & would need to use sudo manually to copy the files.

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
